# ignore all the user generated stuff

*.html

# apart from themes

!flot-admin/themes/html5/*

flot-admin/themes/test/*
flot-admin/datastore/*
flot-admin/temp/
flot-admin/temp/*
flot-admin/log/
flot-admin/log/*
flot-admin/uploads/
flot-admin/uploads/*