
Options -Indexes +SymLinksIfOwnerMatch

#DirectoryIndex index.php /flot_flot/www/index.html

<IfModule mod_rewrite.c>






  RewriteEngine on
  RewriteBase /

  RewriteCond %{REQUEST_URI} !^/flot_flot/www/

  # Don't apply to URLs that go to existing files or folders
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite all those to insert /folder
  RewriteRule ^(.*)$ /flot_flot/www/$1 [L]
  RewriteRule ^(/)?$ /flot_flot/www/$1 [L]
</IfModule>


# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 10 days"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES