
# prevent folder listing
Options -Indexes

DirectoryIndex /flot_flot/flot.php

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  #RewriteRule ^(.*)$ /flot_flot/flot.php [L,QSA]
  #RewriteRule ^/?$ /flot_flot/flot.php [L]
  RewriteRule ^([^?]*)$ /flot_flot/flot.php?path=$1 [NC,L,QSA]
  RewriteRule ^$ /flot_flot/flot.php [NC]
</IfModule>




# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 10 days"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES