
Options -Indexes +SymLinksIfOwnerMatch

#DirectoryIndex start.php /flot-admin/www/index.html
#DirectoryIndex start.php index.html /flot-admin/www/index.html

<IfModule mod_rewrite.c>

  SetEnv HTTP_MOD_REWRITE On



  RewriteEngine on
  RewriteBase /

  RewriteCond %{REQUEST_URI} !^/flot-admin/www/

  # Don't apply to URLs that go to existing files or folders
  ##RewriteCond %{REQUEST_FILENAME} !-f
  ##RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite all those to insert /folder
  ##RewriteRule ^(.*)$ /flot-admin/www/$1 [L]
  ##RewriteRule ^(/)?$ /flot-admin/www/$1 [L]
</IfModule>


# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 10 days"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES