
body{
    background: rgb(238, 238, 238);
}

.left_col{float:left;width:140px;position:absolute;}
.right_col{margin-left:140px;}

@media only screen and (max-width : 600px) {
  .left_col{width:50px;}
  .right_col{margin-left:50px;}

  .small-hidden{display: none;}
}
/*
body.smaller_left .left_col{width:50px;}
body.smaller_left .right_col{margin-left:50px;}
body.smaller_left .condensed_hidden{display: none;}
*/

#admin_header{
  border-bottom: silver 1px solid;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  background: #fff;

  box-shadow: 0px 1px 5px silver;
}
#top_right_buttons{
  float:right;
}
.clearer:before,
.clearer:after {
    content: "";
    display: table;
} 
.clearer:after {
    clear: both;
}
.clearer {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


#logo_container{
  font-family: 'Nunito', sans-serif !important;
  padding-left: 15px;
}
#logo_container span{
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  height: 48px;
}
#logo_container span#f{z-index: 13;}
#logo_container span#l{z-index: 12;margin-left: -1px;margin-top: -2px;}
#logo_container span#o{z-index: 11;margin-left: 2px;margin-top: -1px;}
#logo_container span#t{z-index: 10;margin-left: -1px;margin-top: 2px;}

.blue {
  color: #0074d9; }
.green {
  color: #2ecc40; }
.yellow {
  color: #ffdc00; }
.red {
  color: #ff4136; }

  hr {margin-top: 10px;margin-bottom: 10px;}

#left_admin_menu_col{
    bottom: 0px;
    top: 76px;
    padding-left: 8px;
}
#admin_menu_left{
    height: 100%;
}

.admin_menu_left{
    color: #aaaaaa;
    display: block;
    padding: 8px;

    border-bottom:1px solid #dddddd;
}
.admin_menu_left span{
    padding-left: 8px;
}
.admin_menu_left:hover{
    background: #f2f2f2;
    text-decoration: none;
    color: #666;
}
.admin_menu_left:hover span{
    text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}
.admin_menu_left.active{
    border:1px solid #ddd;
    border-right:1px solid white;
    margin-right: -1px;
    background: #fff;
    color:#666;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

.tab-pane{
    /* start each tab with a little gap, so the tab headers don't rub the tab content */
    padding-top: 16px;
}

#medium_editor{
    padding:8px;
    margin-bottom: 16px; /* double padding, to counter negative vertical offsetting */

    box-shadow: 3px 3px 10px 0px #aaa, -3px -3px 10px 0px #aaa;
    -webkit-box-shadow: 3px 3px 10px 0px #aaa, -3px -3px 10px 0px #aaa;
    -moz-box-shadow: 3px 3px 10px 0px #aaa, -3px -3px 10px 0px #aaa;
}
#medium_editor:focus{
    /* no glow */
    outline: none;
}

#right_admin_section{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 10px;
    background: #fff;
    margin-bottom: 36px;
    margin-top:9px;
    margin-right:16px;
    border: 1px solid #ddd;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;   

    box-shadow: rgb(187, 187, 187) 1px 1px 1px 0px;
}

#edit_item_general_toolbar{
    margin-right: 16px;
}

#upload_output{height: 24px;display: block;}

#upload_progress_bar{width: 100%;}
#upload_progress_bar .bar{height:8px;margin-top: 4px;background: ##2ECC40;display: block;}