
.left_col{float:left;width:200px;background: green;}
.right_col{margin-left:200px;background: orange;}

@media only screen and (max-width : 600px) {
  .left_col{width:50px;}
  .right_col{margin-left:50px;}
}