{% extends "templates\\admin.html" %}


{% block actionbuttons %}
	{% include 'partials\\admin\\items-overview-buttons.html' %}
{% endblock %}

{% block actionarea %}
	<table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Id</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
	{% for key,item in items %}
        <tr>
          <th scope="row">1</th>
          <td>{{ key }}</td>
          <td>{{ item.title }}</td>
        </tr>
    {% endfor %}
      </tbody>
	</table>
{% endblock %}
