<div class="btn-group edit_item_general_toolbar">
	<a class="btn btn-default btn-sm" href="#" id="preview_edits">
		<i class="glyphicon glyphicon-expand"></i><span class="small-hidden"> preview</span>
	</a>
	<a target="_blank" class="btn btn-default btn-sm" href="/{{ page.mGetProperty('url') }}">
		<i class="glyphicon glyphicon-eye-open"></i><span class="small-hidden"> view</span>
	</a>
</div>

<div class="btn-group edit_item_general_toolbar">
	<a class="btn btn-success btn-sm" href="javascript:publish('published');"
	{% if page.mGetProperty('published') != false %}
 disabled=""
{% endif %}
>
		<i class="glyphicon glyphicon-cloud-upload"></i> save &amp; publish
	</a>
	<a class="btn btn-warning btn-sm" href="javascript:publish('unpublished');"
	{% if page.mGetProperty('published') == false %}
 disabled=""
{% endif %}
>
		<i class="glyphicon glyphicon-cloud-download"></i> unpublish
	</a>
</div>


<div class="btn-group">
	<a class="btn btn-danger btn-sm" href="/flot-admin/admin/index.php?section=items&amp;oncology=page&amp;item=pagestart&amp;action=delete">
		<i class="glyphicon glyphicon-trash"></i><span class="small-hidden"> delete</span>
	</a>
</div>