<div id="admin_menu_left">
    <a class="items admin_menu_left active" href="/flot-admin/admin/index.php?section=items">
        <i class="glyphicon glyphicon-folder-open"></i><span class="small-hidden condensed_hidden"> Contents</span>
    </a>
    <a class="admin_menu_left page_type" href="/flot-admin/admin/index.php?section=items&amp;oncology=page">
        <i class="glyphicon glyphicon-file"></i><span class="small-hidden condensed_hidden"> webpage</span></a>
    <a class="elements admin_menu_left" href="/flot-admin/admin/index.php?section=elements">
        <i class="glyphicon glyphicon-paperclip"></i><span class="small-hidden condensed_hidden"> Elements</span></a>
    <a class="pictures admin_menu_left" href="/flot-admin/admin/index.php?section=pictures">
        <i class="glyphicon glyphicon-picture"></i><span class="small-hidden condensed_hidden"> Pictures</span></a>
    <a class="menus admin_menu_left" href="/flot-admin/admin/index.php?section=menus">
        <i class="glyphicon glyphicon-list"></i><span class="small-hidden condensed_hidden"> Menus</span></a>
    <a class="oncologies admin_menu_left" href="/flot-admin/admin/index.php?section=oncologies">
        <i class="glyphicon glyphicon-list-alt"></i><span class="small-hidden condensed_hidden"> Page types</span></a>
    <a class="settings admin_menu_left" href="/flot-admin/admin/index.php?section=settings">
        <i class="glyphicon glyphicon-cog"></i><span class="small-hidden condensed_hidden"> Settings</span></a>
    <a class="errors admin_menu_left" href="/flot-admin/admin/index.php?section=errors">
        <i class="glyphicon glyphicon-fire"></i><span class="small-hidden condensed_hidden"> Errors</span></a>
</div>
